name: quicksend
services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: app
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - quicksend_network

  nginx:
    image: nginx:1.29
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./site-front4:/var/www/static
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - quicksend_network

  postgres:
    image: postgres:17.4
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - quicksend_network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:4.2-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "${RABBITMQ_DEFAULT_USER}"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_DEFAULT_PASS}"
    volumes:
      - rabbitmq

  redis:
    image: 'redis:latest'
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  consumer1:
    build:
      context: .
      dockerfile: docker/main/Dockerfile
    container_name: consumer1
    command: python consumer/consumer.py
    env_file:
      - .env
    environment:
      CONSUMER_ID: "1"
    volumes:
      - ./consumer:/app/consumer
    depends_on:
      - kafka1
      - kafka2
      - postgres
    networks:
      - web_app
    restart: unless-stopped

  consumer2:
    build:
      context: .
      dockerfile: docker/main/Dockerfile
    container_name: consumer2
    command: python consumer/consumer.py
    env_file:
      - .env
    environment:
      CONSUMER_ID: "2"
    volumes:
      - ./consumer:/app/consumer
    depends_on:
      - kafka1
      - kafka2
      - postgres
    networks:
      - web_app
    restart: unless-stopped

  supervisor:
    build:
      context: .
      dockerfile: docker/supervisor/Dockerfile
    env_file:
      - .env
    working_dir: /app
    command: [ "tail", "-f", "/dev/null" ]
    depends_on:
      - php-unit
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - fin_assistant_network

networks:
  quicksend_network:
    driver: bridge
    external: true

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local
